.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h2 {
  margin: 20px;
}

button, .button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: transparent;
}

input.button {
  margin: initial;
}

.App-header {
  background-color: #ffdd00;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 1vh;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  max-width: 10vh;
  max-height: 10vh;
  margin: 10px;
}

.Back-button {
  width: 10vh;
  height: 10vh;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: arial, sans-serif;
}

.options {
  text-align: left;
}

#userList {
  margin-bottom: 50px;
}

#org, #infoTable, #userList {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#org td,
#org th, 
#infoTable td,
#userList td,
#userList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#org tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#org tr:hover, #infoTable tr:hover, #userList tr:hover {
  background-color: #ddd;
}

#org tr:hover {
  user-select: none;
}



#org th,
#userList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #c5ae2d;
  color: white;
}

#addUserForm {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: 1px solid #ccc;
  outline-offset: 12px;
  position: relative;
  left:50%;
  transform: translate(-50%, -0%);
}

@media only screen and (max-width: 2000px) {
  #addUserForm {
    min-width: 35vw;
    max-width: 50vw;
    padding: 20px;
  }
}

@media only screen and (max-width: 800px) {
  #addUserForm {
    min-width: 70vw;
    max-width: 80vw;
    padding: 10px;
  }
}

